.container {
    position: relative;

}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.btnLeft {
    left: 0;
}
.btnRight {
    right: 0;
}

.container img {
    max-width: 100%;
}